<section class="page-section about" data-anchor="about">
  <div class="page-section__wrapper">
    <div class="container">

      <h3 class="title about__title">
        About us
      </h3>

      <div class="about__inner">
        <div class="about__text">
          <p>
            Dulexe has experienced colleagues to meet your cleaning needs anytime, anywhere.  Dulexe Cleaning, as a professional cleaning company, offers all cleaning services in many parts of Istanbul with reasonable prices and cleaning guarantee, as a professional cleaning company, Carpet Cleaning, Upholstery Cleaning, Roller Blind Cleaning, Post-Construction Cleaning, Office Cleaning, Villa Cleaning, workplace.
          </p>
        </div>

        <div class="about__slider-box">
          <p class="about__slider-text">
            Work examples
          </p>

          <div class="swiper about__slider">
            <div class="swiper-wrapper about__slider-wrapper">

              <div class="swiper-slide about__slider-item">
                <img src="./img/gallery/2.jpeg" alt="" class="about__slider-img">
              </div>
              <div class="swiper-slide about__slider-item">
                <img src="./img/gallery/3.jpeg" alt="" class="about__slider-img">
              </div>
              <div class="swiper-slide about__slider-item">
                <img src="./img/gallery/4.jpeg" alt="" class="about__slider-img">
              </div>
              <div class="swiper-slide about__slider-item">
                <img src="./img/gallery/5.jpeg" alt="" class="about__slider-img">
              </div>
              <div class="swiper-slide about__slider-item">
                <img src="./img/gallery/6.jpeg" alt="" class="about__slider-img">
              </div>
              <div class="swiper-slide about__slider-item">
                <img src="./img/gallery/7.jpeg" alt="" class="about__slider-img">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="scroll__btn">
      <a href="#gallery" class="scroll__btn-link">
        <img src="./img/arrow-down.svg" alt="">
      </a>
    </div>
  </div>
</section>
