<section class="page-section contacts" data-anchor="contacts">
  <div class="page-section__wrapper">
    <div class="container">
      <h3 class="title">Contacts</h3>

      <div class="contacts__inner">
        <div class="contacts__info">

          <div class="contacts__info-box">
            <p class="contacts__info-title">Contact us</p>
            <a href="tel:+905525402373" class="contacts__info-phone">+90 552 540 23 73</a>
            <a href="mailto:ablakulovadilfuza365@gmail.com" class="contacts__info-email">ablakulovadilfuza365@gmail.com</a>
          </div>
        </div>

        <div class="contacts__form">
          <form action="#" class="form">
            <h4 class="contacts__form-title"></h4>
            <p class="contacts__form-text"></p>

            <div class="contacts__form-line">
              <label for="name" class="contacts__form-label">
                <input class="contacts__form-input name-input" placeholder="Your Name" type="text" name="name">
              </label>
              <label for="phone" class="contacts__form-label">
                <input class="contacts__form-input phone-input" placeholder="Your Phone" type="tel" name="phone">
              </label>
            </div>

            <label for="message" class="contacts__form-label">
              <textarea class="contacts__form-textarea message-input" placeholder="Message..." name="message"></textarea>
            </label>
            <button class="contacts__form-btn">Submit</button>
          </form>
        </div>

        <div class="contacts__social">
          <ul class="contacts__social-list">
            <ul class="contacts__social-list">
              <li class="contacts__social-item">
                <a href="https://www.youtube.com/channel/UCDIzAwkfBkTLX-pcIoz6enw" class="contacts__social-link">
                  <img src="./img/youtube.svg" alt="">
                </a>
              </li>

              <li class="contacts__social-item">
                <a href="https://www.facebook.com/profile.php?id=100088168298881" class="contacts__social-link">
                  <img src="./img/facebook.svg" alt="">
                </a>
              </li>

              <li class="contacts__social-item">
                <a href="" class="contacts__social-link">
                  <img src="./img/instagram.svg" alt="">
                </a>
              </li>

            </ul>
          </ul>
        </div>
      </div>
      @include('footer.html')
    </div>
  </div>
</section>
