<header class="header">
  <div class="container">
    <div class="header__inner" id="header__nav">
      <a class="logo" href="#" >
        <picture class="logo__img">
          <source srcset="./img/logo.webp" type="image/webp">
          <img loading="lazy" src="./img/logo.png" alt="">
        </picture>
      </a>

      <nav class="menu">
        <button class="menu__btn">
          <span class="menu__btn-line"></span>
        </button>
        <ul class="menu__list">
          <li class="menu__list-item" data-menuanchor="about">
            <a href="#about" class="menu__list-link">
              About
            </a>
          </li>
          <li class="menu__list-item" data-menuanchor="gallery">
            <a href="#gallery" class="menu__list-link">
              Gallery
            </a>
          </li>

          <li class="menu__list-item" data-menuanchor="contacts">
            <a href="#contacts" class="menu__list-link">
              Contacts
            </a>
          </li>

          <li class="menu__list-phone">
            <a href="tel:+905525402373" class="header__phone-menu">+90 552 540 23 73</a>
          </li>
        </ul>
      </nav>

      <div class="header__info">
        <ul class="header__social-list">
          <li class="header__social-item">
            <a href="https://api.whatsapp.com/send?phone=905525402373" class="header__social-link">
              <img src="./img/whatsapp.svg" alt="">
            </a>
          </li>
          <li class="header__social-item">
            <a href="tel:+905525402373" class="header__social-link">
              <img src="./img/phone.svg" alt="">
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</header>
