<section class="page-section top" data-anchor="top">
  <div class="page-section__wrapper top__wrapper">
    <div class="container">
      <div class="top__inner">
        <div class="top__preview">
          <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="150px" width="150px"
  viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
  <path class="stroke-solid" fill="none" stroke="#00C7CC"  d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
    C97.3,23.7,75.7,2.3,49.9,2.5"/>
  <path class="icon" fill="#00C7CC" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z"/>
</svg>
</div>
        <h1 class="top__title">
          Deluxe cleaning
        </h1>

        <p class="top__text">
          Dulexe has experienced colleagues to meet your cleaning needs anytime, anywhere.
        </p>

        <ul class="top__social-list">
          <li class="top__social-item">
            <a href="https://www.youtube.com/channel/UCDIzAwkfBkTLX-pcIoz6enw" class="top__social-link">
              <img src="./img/youtube.svg" alt="">
            </a>
          </li>

          <li class="top__social-item">
            <a href="" class="top__social-link">
              <img src="./img/instagram.svg" alt="">
            </a>
          </li>

          <li class="top__social-item">
            <a href="https://www.facebook.com/profile.php?id=100088168298881" class="top__social-link">
              <img src="./img/facebook.svg" alt="">
            </a>
          </li>

        </ul>
      </div>

      <div class="scroll__btn">
        <a href="#about" class="scroll__btn-link">
          <img src="./img/arrow-down.svg" alt="">
        </a>
      </div>
    </div>
</section>
